@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Black.eot');
    src: url('Flexo-Black.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Black.woff2') format('woff2'),
        url('Flexo-Black.woff') format('woff'),
        url('Flexo-Black.ttf') format('truetype'),
        url('Flexo-Black.svg#Flexo-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-BlackIt.eot');
    src: url('Flexo-BlackIt.eot?#iefix') format('embedded-opentype'),
        url('Flexo-BlackIt.woff2') format('woff2'),
        url('Flexo-BlackIt.woff') format('woff'),
        url('Flexo-BlackIt.ttf') format('truetype'),
        url('Flexo-BlackIt.svg#Flexo-BlackIt') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Black_1.eot');
    src: url('Flexo-Black_1.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Black_1.woff2') format('woff2'),
        url('Flexo-Black_1.woff') format('woff'),
        url('Flexo-Black_1.ttf') format('truetype'),
        url('Flexo-Black_1.svg#Flexo-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Bold.eot');
    src: url('Flexo-Bold.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Bold.woff2') format('woff2'),
        url('Flexo-Bold.woff') format('woff'),
        url('Flexo-Bold.ttf') format('truetype'),
        url('Flexo-Bold.svg#Flexo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Bold_1.eot');
    src: url('Flexo-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Bold_1.woff2') format('woff2'),
        url('Flexo-Bold_1.woff') format('woff'),
        url('Flexo-Bold_1.ttf') format('truetype'),
        url('Flexo-Bold_1.svg#Flexo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-BlackIt_1.eot');
    src: url('Flexo-BlackIt_1.eot?#iefix') format('embedded-opentype'),
        url('Flexo-BlackIt_1.woff2') format('woff2'),
        url('Flexo-BlackIt_1.woff') format('woff'),
        url('Flexo-BlackIt_1.ttf') format('truetype'),
        url('Flexo-BlackIt_1.svg#Flexo-BlackIt') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-DemiIt.eot');
    src: url('Flexo-DemiIt.eot?#iefix') format('embedded-opentype'),
        url('Flexo-DemiIt.woff2') format('woff2'),
        url('Flexo-DemiIt.woff') format('woff'),
        url('Flexo-DemiIt.ttf') format('truetype'),
        url('Flexo-DemiIt.svg#Flexo-DemiIt') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-BoldIt.eot');
    src: url('Flexo-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('Flexo-BoldIt.woff2') format('woff2'),
        url('Flexo-BoldIt.woff') format('woff'),
        url('Flexo-BoldIt.ttf') format('truetype'),
        url('Flexo-BoldIt.svg#Flexo-BoldIt') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-DemiIt_1.eot');
    src: url('Flexo-DemiIt_1.eot?#iefix') format('embedded-opentype'),
        url('Flexo-DemiIt_1.woff2') format('woff2'),
        url('Flexo-DemiIt_1.woff') format('woff'),
        url('Flexo-DemiIt_1.ttf') format('truetype'),
        url('Flexo-DemiIt_1.svg#Flexo-DemiIt') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Heavy.eot');
    src: url('Flexo-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Heavy.woff2') format('woff2'),
        url('Flexo-Heavy.woff') format('woff'),
        url('Flexo-Heavy.ttf') format('truetype'),
        url('Flexo-Heavy.svg#Flexo-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Demi.eot');
    src: url('Flexo-Demi.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Demi.woff2') format('woff2'),
        url('Flexo-Demi.woff') format('woff'),
        url('Flexo-Demi.ttf') format('truetype'),
        url('Flexo-Demi.svg#Flexo-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Heavy_1.eot');
    src: url('Flexo-Heavy_1.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Heavy_1.woff2') format('woff2'),
        url('Flexo-Heavy_1.woff') format('woff'),
        url('Flexo-Heavy_1.ttf') format('truetype'),
        url('Flexo-Heavy_1.svg#Flexo-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-BoldIt_1.eot');
    src: url('Flexo-BoldIt_1.eot?#iefix') format('embedded-opentype'),
        url('Flexo-BoldIt_1.woff2') format('woff2'),
        url('Flexo-BoldIt_1.woff') format('woff'),
        url('Flexo-BoldIt_1.ttf') format('truetype'),
        url('Flexo-BoldIt_1.svg#Flexo-BoldIt') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Demi_1.eot');
    src: url('Flexo-Demi_1.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Demi_1.woff2') format('woff2'),
        url('Flexo-Demi_1.woff') format('woff'),
        url('Flexo-Demi_1.ttf') format('truetype'),
        url('Flexo-Demi_1.svg#Flexo-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Light.eot');
    src: url('Flexo-Light.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Light.woff2') format('woff2'),
        url('Flexo-Light.woff') format('woff'),
        url('Flexo-Light.ttf') format('truetype'),
        url('Flexo-Light.svg#Flexo-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-It.eot');
    src: url('Flexo-It.eot?#iefix') format('embedded-opentype'),
        url('Flexo-It.woff2') format('woff2'),
        url('Flexo-It.woff') format('woff'),
        url('Flexo-It.ttf') format('truetype'),
        url('Flexo-It.svg#Flexo-It') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-LightIt.eot');
    src: url('Flexo-LightIt.eot?#iefix') format('embedded-opentype'),
        url('Flexo-LightIt.woff2') format('woff2'),
        url('Flexo-LightIt.woff') format('woff'),
        url('Flexo-LightIt.ttf') format('truetype'),
        url('Flexo-LightIt.svg#Flexo-LightIt') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Medium.eot');
    src: url('Flexo-Medium.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Medium.woff2') format('woff2'),
        url('Flexo-Medium.woff') format('woff'),
        url('Flexo-Medium.ttf') format('truetype'),
        url('Flexo-Medium.svg#Flexo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-LightIt_1.eot');
    src: url('Flexo-LightIt_1.eot?#iefix') format('embedded-opentype'),
        url('Flexo-LightIt_1.woff2') format('woff2'),
        url('Flexo-LightIt_1.woff') format('woff'),
        url('Flexo-LightIt_1.ttf') format('truetype'),
        url('Flexo-LightIt_1.svg#Flexo-LightIt') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-HeavyIt.eot');
    src: url('Flexo-HeavyIt.eot?#iefix') format('embedded-opentype'),
        url('Flexo-HeavyIt.woff2') format('woff2'),
        url('Flexo-HeavyIt.woff') format('woff'),
        url('Flexo-HeavyIt.ttf') format('truetype'),
        url('Flexo-HeavyIt.svg#Flexo-HeavyIt') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-It_1.eot');
    src: url('Flexo-It_1.eot?#iefix') format('embedded-opentype'),
        url('Flexo-It_1.woff2') format('woff2'),
        url('Flexo-It_1.woff') format('woff'),
        url('Flexo-It_1.ttf') format('truetype'),
        url('Flexo-It_1.svg#Flexo-It') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Medium_1.eot');
    src: url('Flexo-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Medium_1.woff2') format('woff2'),
        url('Flexo-Medium_1.woff') format('woff'),
        url('Flexo-Medium_1.ttf') format('truetype'),
        url('Flexo-Medium_1.svg#Flexo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-HeavyIt_1.eot');
    src: url('Flexo-HeavyIt_1.eot?#iefix') format('embedded-opentype'),
        url('Flexo-HeavyIt_1.woff2') format('woff2'),
        url('Flexo-HeavyIt_1.woff') format('woff'),
        url('Flexo-HeavyIt_1.ttf') format('truetype'),
        url('Flexo-HeavyIt_1.svg#Flexo-HeavyIt') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Light_1.eot');
    src: url('Flexo-Light_1.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Light_1.woff2') format('woff2'),
        url('Flexo-Light_1.woff') format('woff'),
        url('Flexo-Light_1.ttf') format('truetype'),
        url('Flexo-Light_1.svg#Flexo-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-MediumIt.eot');
    src: url('Flexo-MediumIt.eot?#iefix') format('embedded-opentype'),
        url('Flexo-MediumIt.woff2') format('woff2'),
        url('Flexo-MediumIt.woff') format('woff'),
        url('Flexo-MediumIt.ttf') format('truetype'),
        url('Flexo-MediumIt.svg#Flexo-MediumIt') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Thin.eot');
    src: url('Flexo-Thin.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Thin.woff2') format('woff2'),
        url('Flexo-Thin.woff') format('woff'),
        url('Flexo-Thin.ttf') format('truetype'),
        url('Flexo-Thin.svg#Flexo-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Regular.eot');
    src: url('Flexo-Regular.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Regular.woff2') format('woff2'),
        url('Flexo-Regular.woff') format('woff'),
        url('Flexo-Regular.ttf') format('truetype'),
        url('Flexo-Regular.svg#Flexo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-MediumIt_1.eot');
    src: url('Flexo-MediumIt_1.eot?#iefix') format('embedded-opentype'),
        url('Flexo-MediumIt_1.woff2') format('woff2'),
        url('Flexo-MediumIt_1.woff') format('woff'),
        url('Flexo-MediumIt_1.ttf') format('truetype'),
        url('Flexo-MediumIt_1.svg#Flexo-MediumIt') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Regular_1.eot');
    src: url('Flexo-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Regular_1.woff2') format('woff2'),
        url('Flexo-Regular_1.woff') format('woff'),
        url('Flexo-Regular_1.ttf') format('truetype'),
        url('Flexo-Regular_1.svg#Flexo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flexo';
    src: url('Flexo-Thin_1.eot');
    src: url('Flexo-Thin_1.eot?#iefix') format('embedded-opentype'),
        url('Flexo-Thin_1.woff2') format('woff2'),
        url('Flexo-Thin_1.woff') format('woff'),
        url('Flexo-Thin_1.ttf') format('truetype'),
        url('Flexo-Thin_1.svg#Flexo-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

